/* Header */
header .encabezado,
main .tribus .contenedor_tribus{
    background-image: url(../img/storm_bg.png);
    position: relative;
}

header .encabezado .espacio{
    background-color: white;
    bottom: 0;
    padding-bottom: 60px;
    position: absolute;
    width: 100%;
}

header .encabezado .centrado{
    display: flex;
    justify-content: space-evenly;
}

header .encabezado .centrado .logo{
    margin:40px 0 100px;
    max-width: 40%;
}

header .encabezado .centrado .personaje{
    align-self: end;
    max-width: 30%;
    z-index: 1;
}

/* Sección Mazo */
main .mazos .centrado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .mazos .centrado > *{
    width: 48%;
}

/* Trailer */
main .centrado .aplicacion .contenedor_video{
    margin: 0 auto 20px;
}

main .trailer .aplicacion .video{
    padding-top: 56.25%;
    position: relative;
}

main .centrado .aplicacion .video iframe{
    height: 100%;
    left:0;
    position: absolute;
    top:0;
    width: 100%;
}

main .centrado .aplicacion .plataformas{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 800px;
    width: 100%;
}

main .centrado .aplicacion .plataformas a{
    margin: 20px 10px;
    width: 180px;
}

/* tribus */
main .tribus .contenedor_tribus .centrado{
    overflow: visible;
}

main .tribus .contenedor_tribus .tribu{
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    margin:0 -20px;
    padding: 10px 20px;
    width:29%;
    cursor: pointer;
}

main .tribus .contenedor_tribus .tribu:nth-child(1){background-color: #405477;}
main .tribus .contenedor_tribus .tribu:nth-child(2){background-color: #824648;}
main .tribus .contenedor_tribus .tribu:nth-child(3){background-color: #30655D;}
main .tribus .contenedor_tribus .tribu:nth-child(4){background-color: #604830;}

main .tribus .contenedor_tribus img{
    max-width: 250px;
    vertical-align: top;
}

/* footer */

footer .newsletter .centrado .contenedor_texto .texto{
    text-align: center;
}

footer .newsletter .centrado .form input{
    border-radius: 5px 0 0 5px;
    border:1px solid grey;
    padding: 10px;
    width: 40%;
}

.btn{
    border:none;
    background-color: #246eb9;
    border-radius: 0 5px 5px 0;
    color: #f2f2f2;
    cursor: pointer;
    display: block;
    padding:10px 20px;
    text-decoration: none;
}

.btn:hover{    
    opacity: .9;
}

/* Datos */
main .centrado .aplicacion .plataformas a{
    margin: 20px 10px;
    width: 180px;
}
.datos{
    background-color: #333;
}

.datos .centrado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.datos .centrado .columna{
    color: #f2f2f2;
    margin: 20px 10px 40px;
    width: 200px;
}

.datos .centrado .map{
    display: flex;
}

.datos .centrado .map iframe{
    width: 100%;
}

.datos .centrado .columna p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

.seccion_list{
    font-size: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.seccion_list li{
    display: inline-block;
    margin-right: 10px;
}