*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.centrado{
    margin: auto;
    max-width: 1000px;
    overflow: hidden;
    width: 90%;
}

img{
    vertical-align: top;
    width: 100%;
}

.centrado .contenedor_texto{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
}

main{
    margin: 40px 0;
}

main section{
    margin-bottom: 40px;
}

main .tribus .contenedor_tribus .centrado,
footer .newsletter .centrado .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .newsletter{
    margin-bottom: 60px;
}