/* Color */
.azul{color:#174277;}
.bgenjambre{background-color: rgba(96, 72, 48, 0.502);}
.bghielo{background-color: #40547780;}
.bgmetal{background-color: #82464880;}
.bgsombras{background-color: #30655d80;}
.blanco{color:#f2f2f2;}
.fondo-gris{background-color: #333;}
.fondo-negro{background-image: url("img/storm_bg.png");}

/* Tamaño */
.secundario{font-size: 0.875em;}
.w-100{width: 100%;}
.w-25{width: 25%;}
.w-50{width: 50%;}
.w-75{width: 75%;}
h2{font-size: 1.875em;}
h3{font-size: 1.5625em;}
h4{font-size: 1em;}
.p-3{padding: 1em;}

/* Estilos generales */
.align-left{text-align: left;}
.bold{font-weight: bold;}
.radius{border-radius: 1em;}


/* Estilos */
.titulo{
    font-family: Quicksand;
    font-weight: bold;
    text-align: center;
}

.parrafo{
    font-family: 'Raleway';
    line-height: 29px;
    margin-top: 10px;
}

.seccion_list{
    color:white;
    font-size: 30px;
    list-style: none;
}

.seccion_list_item{
    display: inline-block;
    margin-right: 20px;
}

.separador{
    display: block;
    margin:0 auto 10px;
}

/*Colores - temas*/
/*.fdark{
    background-color: #333;
    position: relative;
}

.fimg{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .4;
}*/